@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.main {    
    width: 100%;
    height: 100vh;  /* Usar 100vh para garantir que ocupe toda a altura da tela */
    overflow-y: hidden;  /* Permite rolagem na página */
}

.title {    
    text-align: center;
    background-image: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 0;    
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.title-image {
    position: absolute;
    left: 20px;    
}

h2 {
    margin: 0 20px;  
    transition: all 0.3s ease;    
}

/* Ajustes na .container */
.container {  
    width: 90%;
    min-height: 500px;  /* Define uma altura mínima */
    max-height: 690px;  /* Permite que a altura se ajuste conforme o conteúdo */
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;  /* Garante que o fundo não grude no final */
}

h1 {
    text-align: center;
    color: #4b4a4a;
    font-size: 1.5rem;
    font-weight: 450;
}

label {
    font-weight: 450;
}

.form-group {
    margin-bottom: 15px;
}

#titulo, #filtro {
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea {
    width: 100%;
    height: auto;   
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    resize: vertical;  
    font-size: 16px; 
    font-family: "Roboto";
    letter-spacing: 1.2px;
}

/* Botões */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;  /* Espaço inferior */
}

button {
    padding: 8px 15px;
    background-color: rgba(74, 63, 197, 0.815);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: ease .4s;
    width: auto;  /* Ajusta o tamanho conforme necessário */
    margin: 5px;  /* Margem entre os botões */
}

button:hover {
    background-color: rgba(74, 63, 197, 0.993);
}

button:active {
    background-color: #398439;
}

hr {
    color: #cccccc41;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto; /* Permite rolagem apenas na lista */
    max-height: 400px;  /* Ajusta a altura da lista, pode ser alterado conforme necessário */
}

li {
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

li:last-child {
    border-bottom: none;
}

.copy-button {
    margin-top: 10px;
    align-self: flex-end;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    font-size: 14px;
}

.copy-button:hover {
    background-color: #0056b3;
}

.lista-assuntos {
    margin-bottom: 15px;
}

.container .atalho-item {
    padding: 10px;
    background-color: #fff;
    border: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}


.atalho-titulo {
    font-weight: bold;
    font-size: 1.2em;
}

.atalho-conteudo {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.atalho-botoes {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;    
}

/* Estilo do contêiner */
.input-container {
    position: relative; 
    display: flex;
    align-items: center;
    width: 100%; 
    max-width: 500px; 
}

/* Estilo do input */
#filtro {
    flex: 1;
    padding: 10px 40px 10px 15px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    margin: 15px 0;
}

/* Estilo do ícone */
.input-container i {
    position: absolute;
    right: 15px; /* Distância do ícone para o lado direito */
    color: #aaa;
    font-size: 1.2em; /* Tamanho do ícone */
    pointer-events: none; /* Torna o ícone não clicável */
}

/* Estilo do botão de cadastrar */
.btn button {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn-excluir {
    background-color: #f87171;
}
